<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HRS.styles.css" asp-append-version="true" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font awesome -->

    <link rel="stylesheet" href="~/plugins/fontawesome/fontawesome-all.css">
    <link rel="stylesheet" href="~/plugins/fontawesome/fontawesome.css">
    <!-- Bootstrap -->
    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/plugins/css/stylesheet.css">
    <link rel="stylesheet" href="~/aos-master/dist/aos.css">


    <title>HRS</title>
</head>
<body>
	<div class="wrapper">
		<!-- Navbar start-->

        <nav class="navbar  navbar-expand-lg navbar-light bg-light sticky-top cos-navbar" style="display:flex;">

			<a class="navbar-brand" href="#">
                    <img src="~/image/doctor3-.jpg" width="70" height="40">
                   
			</a>

			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item ">
					<a class="nav-link" href="#">  Login  <i class="fas fa-sign-in-alt"></i> </a>
				</li>


			</ul>
		</nav>

        <nav class="navbar  navbar-expand-lg navbar-light bg-light sticky-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse justify-content-center" id="navbarToggler">
                <ul class="navbar-nav  mt-2 mt-lg-0">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">الرئيسية </a>
                    </li>
                </ul>

            </div>
        </nav>
		<!-- /Navbar end-->
		<!-- Carousel start-->
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
		 
        <!-- Footer -->
        <footer id="sticky-footer" class="py-2 bg-darkblue">
            <div class="container text-center footer">
                <small> &copy; 2025 - HRS </small>
            </div>
        </footer>
        <!-- /Footer end-->
	</div>


	
     
  

     
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/plugins/fontawesome/fontawesome-all.js"></script>
    <!-- jquery -->
    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/aos-master/dist/aos.js"></script>
    <script>
            AOS.init();

            (function ($) {
                $(document).ready(function(){

            // hide .navbar first
            $(".navbar").hide();

            // fade in .navbar
            $(function () {
                $(window).scroll(function () {
         // set distance user needs to scroll before we fadeIn navbar
         if ($(this).scrollTop() > 400) {
            $('.navbar').fadeIn();
         } else {
            $('.navbar').fadeOut();
         }
        });


            });

        });
            }(jQuery));

    </script>
</body>
</html>
